ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background-color: red;
    color: white;
}

div.color-info {
  border: solid;
  border-width: 3px;
  border-color: black;
  margin-bottom: 10px;
}
div#about_blue {
  background-color: #F0F8FF;
}

div#about_yellow {
  background-color: #FFEBCD;
}
